<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--english views-->
		<add key="menu-en" value="
			New
			Load
			Commands
			Settings
			Exit" />

		<add key="commands-en" value="

look around		-	describe everything what player sees
go forward		-	walk forward
back			-	back
go left/right		-	walk left/right
go to 			-	go to
	temple		- 		temple (free heal or boost)
	blacksmith	-		blacksmith (buy / upgrade weapon)
	tavern		-		tavern (rest or talk with NPCs)
	shop		-		shop (buy supplies)
come to ...		-	walk to someone
talk			-	talk with NPC
use ...			-	use item
give ...		-	give item
attack			-	attack nearest monster or NPC
defend			-	defend from attack
dodge			-	dodge attack
try			-	roll a dice

Type 'back' to return to main menu"/>

		<add key="settings-en" value="
			 
			 Background
			 Foreground
			 Language

Choose setting to change or type 'back'" />

		<add key="colors-en" value="
			 Black
			 Blue
			 Green
			 Cyan
			 Red
			 Magenta
			 Yellow
			 Gray
			 White

Pick color or type 'back'" />

		<add key="languages-en" value="
			 English
			 Polski

Change language or type 'back'" />

		<!--english commands-->
		<add key="menu-en-commands" value="exit new load commands settings"/>
		<add key="commands-en-commands" value="back"/>
		<add key="settings-en-commands" value="back background foreground language"/>
		<add key="colors-en-commands" value="back black blue green cyan red magenta yellow gray white"/>
		<!--<add key="languages-commands" value="english polski"/>-->

		<!--polish views-->
		<add key="menu-pl" value="
			Nowa
			Wczytaj
			Komendy
			Ustawienia
			wyjście" />

		<add key="commands-pl" value="

look around		-	describe everything what player sees
go forward		-	walk forward
back			-	back
go left/right		-	walk left/right
go to 			-	go to
	temple		- 		temple (free heal or boost)
	blacksmith	-		blacksmith (buy / upgrade weapon)
	tavern		-		tavern (rest or talk with NPCs)
	shop		-		shop (buy supplies)
come to ...		-	walk to someone
talk			-	talk with NPC
use ...			-	use item
give ...		-	give item
attack			-	attack nearest monster or NPC
defend			-	defend from attack
dodge			-	dodge attack
try			-	roll a dice

Wpisz 'wróć' aby wyjść do menu głównego"/>

		<add key="settings-pl" value="
			 
			 Tło
			 Czcionka
			 Język

Wybierz ustawienie do edycji lub wpisz 'wróć'" />

		<add key="colors-pl" value="
			 Czarny
			 Niebieski
			 Zielony
			 Błękitny
			 Czerwony
			 Fioletowy
			 Żółty
			 Szary
			 Biały

Wybierz kolor lub wpisz 'wróć'" />

		<add key="languages-pl" value="
			 English
			 Polski

Change language or type 'back'" />

		<!--polish commands-->
		<add key="menu-pl-commands" value="wyjście nowa wczytaj komendy ustawienia"/>
		<add key="commands-pl-commands" value="wróć"/>
		<add key="settings-pl-commands" value="wróć tło czcionka język"/>
		<add key="colors-pl-commands" value="wróć czarny niebieski zielony blękitny czerwony fioletowy żółty szary biały"/>

		<!--general commands-->
		<add key="languages-commands" value="wróć back english polski"/>
	</appSettings>
</configuration>